<div class="maincontainer" fxFlex="100%" fxlayout="row wrap">
    <div class="firstdiv" fxFlex="50%" fxLayout="row wrap" fxShow fxHide.xs fxLayoutAlign="center center">
      <div class="paragraphdiv">
        <p>Don't wait for opportunities to come. Make them with us</p>
        <div class="changebutton">
          <button class="changelogin" (click)="changeLogin()" *ngIf="changelogin">Normal Login</button>
          <button class="changelogin" (click)="changeLogins()" *ngIf="!changelogin">Business Login</button>
        </div>
      </div>
    </div>
    <div class="logindiv" fxFlex="35%" fxLayout=" wrap" fxFlex.xs="100%" fxLayoutAlign="center center" *ngIf="changelogin">
      <div class="loginformdiv" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="heading mat-title">Business Login</div>
        <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="wrap">
          <form (ngSubmit)="onsubmit()" #myform="ngForm" class="loginbody" fxLayout="column wrap"
            fxLayoutAlign="center center">
            <p>
              <input type="hidden" name="type" id="myFile" ngModel>
            </p>
            <p>
              <mat-form-field class="hai" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" name="email" required email ngModel > 
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>email is required</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
                <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error>password is required</mat-error>  
              </mat-form-field>
            </p>
            <p class="validate" *ngIf="UserExist">{{UserExist}}</p>
            <p>
              <button mat-raised-button class="login-button" type="submit" color="primary" [disabled]="!myform.valid">Login</button>
            </p>
            <div>
              <button mat-raised-button class="google-button" type="button"  > <img
                  class="googleimg" src="../../../assets/googlelogo.png" alt="">&nbsp;<span>Google</span>
              </button>
              <!-- <asl-google-signin-button></asl-google-signin-button> -->
            </div>
          </form>
        </div>
        <div class="signup">
          <a [routerLink]="['/business']">SignUp Here</a>
        </div>
      </div> 
    </div> 

    <div class="logindiv" fxFlex="35%" fxLayout=" wrap" fxFlex.xs="100%" fxLayoutAlign="center center" *ngIf="!changelogin">
      <div class="loginformdiv" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="heading mat-title">Normal Login</div>
        <div fxFlex="100%" fxLayoutAlign="center center" fxLayout="wrap">
          <form (ngSubmit)="onsubmits()" #myform="ngForm" class="loginbody" fxLayout="column wrap"
            fxLayoutAlign="center center">
            <p>
              <mat-form-field class="hai" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" name="email" required email ngModel >
  
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>email is required</mat-error>
              </mat-form-field>
  
            </p>
            <input type="hidden"  name="usertype" value="normal" >
            <p>
              <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required>
  
                <mat-icon mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error>password is required</mat-error>
  
              </mat-form-field>
            </p>
  
            <p class="validate" *ngIf="UserExist">{{UserExist}}</p>
  
            <p>
              <button mat-raised-button class="login-button" type="submit" color="primary" [disabled]="!myform.valid">Login</button>
            </p>
            <div>
              <button mat-raised-button class="google-button" type="button" > <img
                  class="googleimg" src="../../../assets/googlelogo.png" alt="">&nbsp;<span>Google</span>
              </button>
            </div>
          </form>
        </div>
        <div class="signup">
          <a [routerLink]="['/business']">SignUp Here</a>
        </div>
      </div> 
    </div>    
<div>
</div>
<div>

</div>

