<div *ngIf="users.user=='business'">
    <div>
        <div class="profile">
            <img src="{{users.image}}" alt="">
            <div class="edit">
                <div>
                    <h1>{{users.name}}</h1>
                    <h3>{{users.category}}</h3>
                </div>
                <div><button (click)="openDialog()">
                        <mat-icon>create</mat-icon>
                    </button></div>
            </div>
            <div class="options">
                <mat-list>
                    <mat-list-item><button mat-button (click)="openUpload()">Upload</button></mat-list-item>
                    <mat-list-item><button mat-button (click)="openAbout()">About</button></mat-list-item>
                    <mat-list-item><button mat-button
                            (click)="openFollow()">Followers({{users.followers?.length}})</button></mat-list-item>
                    <mat-list-item><button mat-button
                            (click)="openFollow()">Following({{users.following?.length}})</button></mat-list-item>
                    <mat-list-item><button mat-button (click)="openHighlights()">Highlights</button></mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="info">
            <p>{{displayscreen}}</p>
        </div>
    </div>

    <div *ngIf="upload" class="upload" fxLayout="row wrap">
        <div class="imgdiv" fxFlex="50%" fxFlex.xs="100%">
            <div>
                <img src="{{url}}" alt="">
            </div>
            <div class="inputdiv">
                <input type="file" id="imginput" style="display: none;" (change)="imgUpload($event)">
                <label for="imginput">Choose Image</label>
            </div>
        </div>
        <div class="textdiv" fxFlex="50%" fxFlex.xs="100%">
            <div><textarea name="" id="" cols="50" rows="6" #textvalue></textarea></div>
            <div><button mat-button color="primary" (click)="postUpload()">Upload</button></div>
        </div>
    </div>

    <div *ngIf="about" class="about" fxLayout="row wrap">
        <div class="aboutDiv" fxFlex="50%" fxFlex.xs="100%" fxLayout="row wrap">
            <div>
                <p>Name</p>
                <p>Email</p>
                <p>Number</p>
                <p>Category</p>
                <p>Expiredate</p>
            </div>
            <div >
                <p>: &nbsp; {{users.name}}</p>
                <p>: &nbsp; {{users.email}}</p>
                <p>: &nbsp; {{users.number}}</p>
                <p>: &nbsp; {{users.category}}</p>
                <p>: &nbsp; {{users.expirydate | date }}</p>
            </div>
        </div>
        <div class="textdiv" fxFlex="50%" fxFlex.xs="100%">
            <div>
                <p style="text-decoration: underline;">About</p>
            </div>
            <div>
            <p>{{users.about}}</p>
            </div>
        </div>
    </div>

    <div *ngIf="follows" class="follows" fxLayout="row wrap">
        <div class="textdiv" fxFlex="50%" fxFlex.xs="100%">
            <p style="text-decoration: underline;">Followers({{users.followers?.length}})</p>
            <div class="showfollow">
                <div class="showblock" *ngFor="let follow of users.followers">
                    <a (click)="follosUser(follow._id)">
                        <span><img src="{{follow?.image}}" alt=""></span>
                        <span>
                            <p>{{follow?.name}}</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="textdiv" fxFlex="50%" fxFlex.xs="100%">
            <p style="text-decoration: underline;">Following({{users.following?.length}})</p>
            <div class="showfollow">
                <div class="showblock" *ngFor="let follow of users.following">
                    <a (click)="follosUser(follow._id)">
                        <span><img src="{{follow?.image}}" alt=""></span>
                        <span>
                            <p>{{follow?.name}}</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let l of postData">
        <div class="profilediv">
            <div class="post" fxLayout="row wrap" fxLayoutAlign="center center">
                <!-- <div class="postheading" fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="space-between center">
                    <div class="userdetail" fxLayout="row">
                        <div >
                            <img src="{{users.image}}" alt="" class="profileimg">
                        </div>
                        <div class="profilename" >
                            <strong>{{l.user[0].name}}</strong>
                            <p>{{l.date | date }}</p>
                        </div>
                    </div>
                    <div>
                        <button class="menubutton" mat-button [matMenuTriggerFor]="Profileoption">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #Profileoption="matMenu" xPosition="before">
                            <ng-template [ngIf]="!l.highlights" [ngIfElse]="higlights">
                                <button mat-menu-item (click)="addhighlights(l._id)">Add to Highlights</button>
                            </ng-template>
                            <ng-template #higlights>
                                <button mat-menu-item (click)="addhighlights(l._id)">Remove from Highlights</button>
                            </ng-template>
                            <button mat-menu-item (click)="removePost(l._id)">Remove post</button>
                        </mat-menu>
                    </div>
                </div> -->

                <div class="postheading" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%"
                    fxLayoutAlign="space-between center">
                    <div class="userdetail" fxFlex="100%" fxLayout="row">
                        <div class="image" fxFlex="17.5%">
                            <img src="{{users.image}}" alt="" class="profileimg">
                        </div>
                        <div class="profilename" fxFlex="65%" >
                            <strong>{{l.user[0].name}}</strong>
                            <p>{{l.date | date }}</p>
                        </div>
                        <div class="postOptions" fxFlex="15%">
                            <button class="menubutton" mat-button [matMenuTriggerFor]="Profileoption">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #Profileoption="matMenu" xPosition="before">
                                <ng-template [ngIf]="!l.highlights" [ngIfElse]="higlights">
                                    <button mat-menu-item (click)="addhighlights(l._id)">Add to Highlights</button>
                                </ng-template>
                                <ng-template #higlights>
                                    <button mat-menu-item (click)="addhighlights(l._id)">Remove from Highlights</button>
                                </ng-template>
                                <button mat-menu-item (click)="removePost(l._id)">Remove post</button>
                            </mat-menu>
                        </div>
                    </div>   
                </div>
                <div class="postcontent" fxFlex="65%" fxFlex.xs="90%">
                    <div class="description">
                        <p>
                            {{l.description}}
                        </p>
                    </div>
                    <div class="postimage">
                        <img src="http://localhost:3000/images/{{l._id}}.jpg" alt="">

                    </div>
                    <div class="feedback">
                        <div><button (click)="getComment(l._id)">
                                <mat-icon> comment</mat-icon>
                            </button></div>
                        <div><button (click)="onLike(l._id)">
                                <mat-icon [ngStyle]="{ color :l.like.includes(userId) ? 'red' :'white'}">favorite
                                </mat-icon>
                            </button></div>
                        <div class="likecount"><span>{{l.like.length}}</span></div>
                    </div>
                    <div class="commentDiv">
                        <ng-template [ngIf]="l.allComment" [ngIfElse]="comment">
                            <div fxLayout="row wrap" class="commentDisplay" *ngFor="let c of l.allComments">
                                <div class="commentauther" fxLayout="row wrap">
                                    <div class="autherimg">
                                        <img src="{{c.user[0].image}}" alt="">
                                    </div>
                                    <div class="authername">
                                        <strong>{{c.username}}</strong>
                                        <p>{{c.date | date}}</p>
                                    </div>
                                </div>
                                <div class="commentoption">
                                    <button class="menubutton" mat-button [matMenuTriggerFor]="Profileoption">
                                        <mat-icon>linear_scale</mat-icon>
                                    </button>
                                    <mat-menu #Profileoption="matMenu" yPosition="above" xPosition="before">
                                        <button mat-menu-item (click)="editComment(c._id,l._id)"
                                            *ngIf="userId==c.userId">Edit</button>
                                        <button mat-menu-item (click)="deleteComment(c._id,l._id)">Delete</button>
                                    </mat-menu>
                                </div>
                                <div class="comment" *ngIf="!c.edit">
                                    <p>{{c.comment}}</p>
                                </div>
                                <div class="comment" *ngIf="c.edit">
                                    <input type="text" [(ngModel)]="editcommentvalue">
                                    <button>(click)="postEditComment(c._id,l._id)">Post</button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #comment>
                            <!-- <div fxLayout="row wrap" class="commentDisplay">
                                <div class="commentauther" fxLayout="row wrap">
                                    <div class="autherimg">
                                        <img src="{{l.commentuser[0].image}}" alt="">
                                    </div>
                                    <div class="authername">
                                        <strong>{{l.comment.username}}</strong>
                                        <p>{{l.comment.date | date}}</p>
                                    </div>
                                </div>
                                <div class="comment" *ngIf="!l.comment.edit">
                                    <p>{{l.comment.comment}}</p>
                                </div>
                                <div class="comment" *ngIf="l.comment.edit">
                                    <input type="text"  [(ngModel)]="editcommentvalue"><button (click)="postEditComment(l.comment._id,l._id)">Post</button>
                                </div>
                                <div>
                                    <button class="menubutton" mat-button [matMenuTriggerFor]="Profileoption"><mat-icon>more_vert</mat-icon></button>
                                    <mat-menu #Profileoption="matMenu"   yPosition="above" xPosition="before">
                                        <button mat-menu-item (click)="editComment(l.comment._id,l._id)" *ngIf="userId==l.comment.userId">Edit</button>
                                        <button mat-menu-item (click)="deleteComment(l.comment._id,l._id)">Delete</button>
                                    </mat-menu>
                                </div>
                            </div> -->
                        </ng-template>
                        <div fxLayout="row wrap" class="commentDisplay">
                            <div class="commentauther" fxLayout="row wrap">
                                <div class="autherimg">
                                    <img src="{{users.image}}" alt="">
                                </div>
                                <div class="authername">
                                    <strong>{{users.name}}</strong>
                                </div>
                            </div>
                            <div class="comment">
                                <input type="text" placeholder="Write your comment" [(ngModel)]="commentvalue"><button
                                    (click)="postComment(l._id)">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="normalUser" *ngIf="users.user=='normal'">
    <div fxLayout="row wrap" class="main">
        <div class="firstpart" fxFlex="40%" fxFlex.sm="100%" fxFlex.xs="100%">
            <div class="imgdiv" fxFlex="80%">
                <img src="{{users.image}}" alt="">
                <p>{{users.name}}</p>
                <p>{{users.email}}</p>
                <p>{{users.number}}</p>
            </div>
        </div>
        <div fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%" class="secondpart">
            <div class="follows" fxFlex="40%">
                <div class="follow">
                    <h2>Followers({{users.followers?.length}})</h2>
                    <div class="showfollow">
                        <div class="showblock" *ngFor="let follow of users.followers">
                            <a (click)="follosUser(follow._id)">
                                <span><img src="{{follow.image}}" alt=""></span>
                                <span>
                                    <p>{{follow?.name}}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="follows" fxFlex="40%">
                <div class="follow">
                    <h2>Following({{users.following?.length}})</h2>
                    <div class="showfollow">
                        <div class="showblock" *ngFor="let follow of users.followers">
                            <a (click)="follosUser(follow._id)">
                                <span><img src="{{follow.image}}" alt=""></span>
                                <span>
                                    <p>{{follow?.name}}</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>