<div class="main">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div fxLayout="wrap">
            <div class="firstpart" fxFlex="50%">
                <div class="imgdiv">
                    <img src="{{userImage}}" alt="">
                    <p>
                    <input type="file" id="imginput" style="display: none;" (change)="imgUpload($event)">
                    <label for="imginput">Choose Image</label>
                    </p>
                </div>
                <div class="firstDetail">
                    <div fxLayout="column wrap">
                        <p>Email :<span>&nbsp;{{data.data.emai}}</span></p>
                    </div>
                    <div fxLayout="column wrap">
                        <label for="">Name</label>
                        <input type="text"  formControlName="name">
                    </div>
                </div>
            </div>
            <div class="secondpart" fxFlex="50%">
                <p>
                    <label for="">Category : &nbsp;</label>
                    <select formControlName="category" >
                        <option  *ngFor="let cat of category" value="{{cat.name}}">{{cat.name}}</option>
                      </select>
                </p>
                <div fxLayout="column wrap">
                    <label for="">Number</label>
                    <input type="number"  formControlName="number">
                </div>
                <div>
                    <label for="">About</label>
                    <textarea formControlName="about" id="" cols="31" rows="10" formControlName="about"></textarea>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div><button mat-raised-button color="primary" (click)="dialogRef.close()">Close</button></div>
            <div><button mat-raised-button color="primary" type="submit">Update</button></div>
        </div>
    </form>
</div>
