.main{
    padding-top: 100px;
    width: 100%;
    .tableDiv{
      width: 80%;
          margin-top: 10px;
          margin-left: auto;
          margin-right: auto;
          table{
              width: 100%;
          }
    }
  }