.main{
    padding-top: 100px;
    
    .buttonDiv{
        text-align: center;
        margin-left: 10px;
       color: #ffff;
    }
    .addplan{
        text-align: -webkit-center;
        .formDiv{
            margin-left: auto;
            margin-right: auto;
            margin: 10px;
            width: 300px;
               text-align: center;
                box-shadow:5px 5px 10px rgb(114, 96, 96);
                background-color: #fff;
                padding: 20px;
        }
    }
    
    .tableDiv{
        width: 60%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        table{
            width: 100%;
        }
    }
}