.main {

    width: 100%;
    align-items: center;
    padding-top: 30px;
    margin: 0;
    background-color: rgb(255, 255, 255);
  
  
    .signupformdiv {
      padding: 25px;
      padding-top: 15px;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      box-shadow:5px 5px 10px rgb(92, 90, 90);
      background-color: #fff;
      border-radius: 12px;
      border:  1px solid;
      border-color: #979090;
  
      .heading {
        text-align: center;
        color: rgb(0, 0, 0);
  
      }
  
      // .account {
      //   display: flex;
      //   width: 70%;
      //   margin-right: auto;
      //   margin-left: auto;
      //   text-align: center;
      //   padding-bottom: 6px;
      //   cursor: pointer;
      //   font-size: large;
      //   font-weight: 500;
  
      //   .normal {
      //     width: 50%;
      //     height: 36px;
      //     padding-top: 8px;
      //     background-color: #1e64d9;
      //     a{
      //       text-decoration: none;
      //       color: #ffff;
      //     }
  
  
      //   }
  
      //   .bussiness {
      //     width: 50%;
      //     height: 36px;
      //     padding-top: 8px;
      //     background-color: #1e64d9;
      //     color: rgb(255, 255, 255);
      //     opacity: 0.6;
      //   }
        
      // }


      .account {
        display: flex;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-bottom: 10px;
        cursor: pointer;
        font-size: large;
        font-weight: 500;
  
        .bussiness {
          width: 50%;
          padding-top: 8px;
          background-color:  #1e64d9;  
          color: rgb(255, 255, 255);
          opacity: 0.6;
  
        }
  
        .normal {
          width: 50%;
          padding-top: 8px;
          background-color: #1e64d9;
          
          a{
            text-decoration: none;
            color: rgb(255, 255, 255);
          }
        }
        
      }




  
      input {
        width: 90%;
        padding: 10px;
        margin-bottom: 13px;
        border-radius: 5px;
        border-color: cornsilk;
        
      }
  
      input[type=submit] {
  
        width: 70%;
        background: #1e64d9;
        margin-top: 8px;
        margin-right: auto;
        margin-left: auto;
        border-color: cornsilk;
        border-radius: 8px;
        color: #ffff;
        font-size: large;
        font-weight: 500;
        margin-left: 15%;
        cursor: pointer;
        
      }
  
      label {
        padding-left: 10px;
        color: rgb(0, 0, 0);
        font-size: medium;
        font-weight: 400;
      }
      .error{
        position: relative;
        color: red;
      }
      
      input.ng-invalid.ng-touched{
        border: red 1px solid;
      }
  
    }
  }
  small{
    color:red;
  }
  